**مثال:**  
  
جایجایی اطلاعات از چندین ستون به یک ستون  
  

روش اول:

**UNION**

In [ ]:
SELECT
	BusinessEntityID,
	1					AS ColumnOrder,
	'FirstName'			AS ColumnTitle,
	FirstName			AS ColumnValue
FROM
	Person.Person

UNION ALL
SELECT
	BusinessEntityID,
	2					AS ColumnOrder,
	'MiddleName'		AS ColumnTitle,
	MiddleName			AS ColumnValue
FROM
	Person.Person

UNION ALL
SELECT
	BusinessEntityID,
	3					AS ColumnOrder,
	'LastName'			AS ColumnTitle,
	LastName			AS ColumnValue
FROM
	Person.Person
ORDER BY 
	BusinessEntityID,
	ColumnOrder

روش دوم:

  

**CROSS JOIN**

In [ ]:
WITH Columns
AS
(
	SELECT 
		1 AS ColumnOrder,
		'FirstName'			AS ColumnTitle
	
	UNION ALL
	SELECT 
		2 AS ColumnOrder,
		'MiddleName'		AS ColumnTitle

	UNION ALL
	SELECT 
		3 AS ColumnOrder,
		'LastName'			AS ColumnTitle

)
SELECT
	P.BusinessEntityID,
	C.ColumnOrder,
	C.ColumnTitle,
	CASE
		WHEN C.ColumnOrder = 1 THEN P.FirstName
		WHEN C.ColumnOrder = 2 THEN P.MiddleName
		WHEN C.ColumnOrder = 3 THEN P.LastName
	END						AS ColumnValue
FROM
	Person.Person AS P
CROSS JOIN
	Columns AS C
ORDER BY
	P.BusinessEntityID,
	C.ColumnOrder

روش سوم:  
  
**UNPIVOT**

In [ ]:
SELECT 
	BusinessEntityID,
	ColumnTitle,
	ColumnValue
FROM
	Person.Person AS P
UNPIVOT
	(
		ColumnValue
		FOR ColumnTitle IN ([FirstName],[MiddleName],[LastName])
	) AS U
ORDER BY
	BusinessEntityID