دیتابیس نمونه  

  

AdventureWorks2019

In [ ]:
USE AdventureWorks2019

**SELECT**  

انتخاب تمامی ستون های یک جدول

In [ ]:
SELECT 
	*
FROM
	Person.Person

نام گذاری ستون ها

**aliasing**

In [ ]:
SELECT 
	BusinessEntityID, 
	PersonType,
	NameStyle,
	Title,
	FirstName
	LastName,

	123 AS FixNumber1,
	456 AS FixNumber2,
	789 AS FixNumber3,

	'ali' FixString1,
	'ahmad' FixString2,

	'2020-01-01',

	CurrentTime = GETDATE(),

	33/11,
	BusinessEntityID * EmailPromotion,
	BusinessEntityID % 100,

	10 + 20,
	'a'+'b',
	FirstName + ' ' + LastName
FROM
	Person.Person

دستور: 

**WHERE**

فیلتر کردن ردیف ها پس از مرحله  

**FROM**

In [ ]:
SELECT
	*
FROM
	Person.Person
WHERE
	PersonType = 'EM'

In [ ]:
SELECT
	*
FROM
	Person.Person
WHERE
	PersonType = 'EM'
	OR 
	Title = 'Mr.'

In [ ]:
SELECT
	*
FROM
	Person.Person
WHERE
	PersonType = 'EM'
	AND
	Title = 'Mr.'

In [ ]:
SELECT
	*
FROM
	Person.Person
WHERE
	PersonType = 'EM'
	AND
	Title <> 'Mr.'

In [ ]:
SELECT
	*
FROM
	Person.Person
WHERE
	FirstName LIKE 'Ken'

In [ ]:
SELECT
	*
FROM
	Person.Person
WHERE
	FirstName LIKE 'K%'

In [ ]:
SELECT
	*
FROM
	Person.Person
WHERE
	FirstName LIKE 'K%n'

In [ ]:
SELECT
	*
FROM
	Person.Person
WHERE
	FirstName NOT LIKE 'K%n'

In [ ]:
SELECT
	*
FROM
	Person.Person
WHERE
	FirstName LIKE '_e%'

In [ ]:
SELECT
	*
FROM
	Person.Person
WHERE
	FirstName LIKE '%e%'