ساخت جداول تستی

In [ ]:
USE SQLClass
GO

CREATE TABLE dbo.Employee
(
	ID			INT,
	FullName	VARCHAR(50),
	CityID		INT
)
GO

CREATE TABLE dbo.City
(
	ID INT,
	CityName VARCHAR(50)
)

وارد کردن اطلاعات

In [ ]:
USE SQLClass
GO

INSERT INTO dbo.City
(
	ID,
	CityName
)
VALUES
	(3, 'Tehran'),
	(4, 'Shiraz'),
	(5, 'Tabriz')
GO

INSERT INTO dbo.Employee
(
	ID,
	FullName,
	CityID
)
VALUES
	(1, 'Ali', 3),
	(2, 'Omid', 4),
	(3, 'Reza', 5)

دستور: 

**CROSS JOIN**

In [ ]:
USE SQLClass
GO

SELECT
	*
FROM
	dbo.Employee
CROSS JOIN
	dbo.City

In [ ]:
USE SQLClass
GO

SELECT
	*
FROM
	dbo.Employee
CROSS JOIN
	dbo.City
WHERE
	dbo.Employee.CityID = dbo.City.ID

In [ ]:
USE SQLClass
GO

SELECT
	*
FROM
	dbo.Employee AS E
CROSS JOIN
	dbo.City AS C
WHERE
	E.CityID = C.ID

In [ ]:
USE SQLClass
GO

SELECT
	*
FROM
	dbo.Employee
CROSS JOIN
	dbo.City
WHERE
	dbo.Employee.ID = 1

دستور: 

**INNER JOIN**

In [ ]:
USE SQLClass
GO

SELECT 
	*
FROM
	dbo.Employee AS E
CROSS JOIN
	dbo.City AS C
WHERE
	E.CityID = C.ID

In [ ]:
USE SQLClass
GO

SELECT 
	*
FROM
	dbo.Employee AS E
INNER JOIN
	dbo.City AS C
ON
	E.CityID = C.ID

حذف رکورد

In [ ]:
USE SQLClass
GO

DELETE
FROM
	dbo.Employee
WHERE
	ID = 3
GO

DELETE 
	dbo.City
WHERE
	ID = 3

دستور:

**LEFT OUTER JOIN**

In [ ]:
USE SQLClass
GO

SELECT 
	*
FROM
	dbo.Employee AS E
LEFT OUTER JOIN
	dbo.City AS C
ON
	E.CityID = C.ID

دستور: 

**RIGHT OUTER JOIN**

In [ ]:
USE SQLClass
GO

SELECT 
	*
FROM
	dbo.Employee AS E
RIGHT OUTER JOIN
	dbo.City AS C
ON
	E.CityID = C.ID

دستور: 

**FULL OUTER JOIN**

In [ ]:
USE SQLClass
GO

SELECT 
	*
FROM
	dbo.Employee AS E
FULL OUTER JOIN
	dbo.City AS C
ON
	E.CityID = C.ID