**Sub Query**

نوع اول

**Self Contained**

**Scalar Valued**

**مثال**:

 مقدار فروش سالاه + درصد فروش هر سال از کل فروش

In [ ]:
SELECT 
	YEAR(SOH.OrderDate)					AS OredrYear,
	SUM(SOD.OrderQty * SOD.UnitPrice)	AS YearSales,
	(
		SELECT 
			SUM(OrderQty * UnitPrice)
		FROM
			Sales.SalesOrderDetail
	)									AS TotalSales,

	SUM(SOD.OrderQty * SOD.UnitPrice) / 
	(
		SELECT 
			SUM(OrderQty * UnitPrice)
		FROM
			Sales.SalesOrderDetail
	) * 100
FROM
	Sales.SalesOrderHeader AS SOH
INNER JOIN
	Sales.SalesOrderDetail AS SOD
ON
	SOH.SalesOrderID = SOD.SalesOrderID
GROUP BY
	YEAR(SOH.OrderDate)
ORDER BY
	OredrYear

**Sub Query**

نوع دوم

**Self Contained**

**Multi Valued**

**مثال**: 

لیست اشخاصی که کارمند هستند

In [ ]:
SELECT 
	*
FROM
	Person.Person AS P
WHERE
	BusinessEntityID IN (SELECT 
							BusinessEntityID
						FROM
							HumanResources.Employee)

مثال بالا از روش 

**JOIN**

In [ ]:
SELECT 
	P.*
FROM
	Person.Person AS P
INNER JOIN
	HumanResources.Employee AS E
ON
	P.BusinessEntityID = E.BusinessEntityID

**مثال**:  
لیست اشخاصی که کارمند نیستند

In [ ]:
SELECT 
	*
FROM
	Person.Person AS P
WHERE
	BusinessEntityID NOT IN (SELECT 
								BusinessEntityID
							FROM
								HumanResources.Employee)

مثال بالا از روش 

**JOIN + NULL**

In [ ]:
SELECT 
	P.*
FROM
	Person.Person AS P
LEFT OUTER JOIN
	HumanResources.Employee AS E
ON
	P.BusinessEntityID = E.BusinessEntityID
WHERE
	E.BusinessEntityID IS NULL

**Sub Query**

نوع سوم

**Correlated**

**Scalar Valued**

**مثال:**   

فروش سالانه، به تفکیک فصل

In [ ]:
SELECT 
	YEAR(SOH.OrderDate)					AS OrderYear,
	(
		SELECT 
			SUM(I_SOD.OrderQty * I_SOD.UnitPrice)
		FROM
			Sales.SalesOrderHeader AS I_SOH
		INNER JOIN
			Sales.SalesOrderDetail AS I_SOD
		ON
			I_SOH.SalesOrderID = I_SOD.SalesOrderID
		WHERE
				YEAR(I_SOH.OrderDate) = YEAR(SOH.OrderDate)
			AND DATEPART(QUARTER, I_SOH.OrderDate) = 1
	) AS Q1_Sales,
	(
		SELECT 
			SUM(I_SOD.OrderQty * I_SOD.UnitPrice)
		FROM
			Sales.SalesOrderHeader AS I_SOH
		INNER JOIN
			Sales.SalesOrderDetail AS I_SOD
		ON
			I_SOH.SalesOrderID = I_SOD.SalesOrderID
		WHERE
				YEAR(I_SOH.OrderDate) = YEAR(SOH.OrderDate)
			AND DATEPART(QUARTER, I_SOH.OrderDate) = 2
	) AS Q2_Sales,
	(
		SELECT 
			SUM(I_SOD.OrderQty * I_SOD.UnitPrice)
		FROM
			Sales.SalesOrderHeader AS I_SOH
		INNER JOIN
			Sales.SalesOrderDetail AS I_SOD
		ON
			I_SOH.SalesOrderID = I_SOD.SalesOrderID
		WHERE
				YEAR(I_SOH.OrderDate) = YEAR(SOH.OrderDate)
			AND DATEPART(QUARTER, I_SOH.OrderDate) = 3
	) AS Q3_Sales,
	(
		SELECT 
			SUM(I_SOD.OrderQty * I_SOD.UnitPrice)
		FROM
			Sales.SalesOrderHeader AS I_SOH
		INNER JOIN
			Sales.SalesOrderDetail AS I_SOD
		ON
			I_SOH.SalesOrderID = I_SOD.SalesOrderID
		WHERE
				YEAR(I_SOH.OrderDate) = YEAR(SOH.OrderDate)
			AND DATEPART(QUARTER, I_SOH.OrderDate) = 4
	) AS Q4_Sales
FROM
	Sales.SalesOrderHeader AS SOH
INNER JOIN
	Sales.SalesOrderDetail AS SOD
ON
	SOH.SalesOrderID = SOD.SalesOrderID
GROUP BY
	YEAR(SOH.OrderDate)
ORDER BY
	OrderYear

**Sub Query**

نوع چهارم

**Correlated**

**Set Valued**

**مثال**: 

لیست افرادی که کارمند هستند

-   **EXISTS**

In [ ]:
SELECT 
	*
FROM
	Person.Person AS P
WHERE
	EXISTS (SELECT  
				*
			FROM
				HumanResources.Employee AS E
			WHERE
				P.BusinessEntityID = E.BusinessEntityID)

**مثال:**

 لیست افرادی که کارمند نیستند

-   **NOT EXISTS**

In [ ]:
SELECT 
	*
FROM
	Person.Person AS P
WHERE
	NOT EXISTS (SELECT 
					*
				FROM
					HumanResources.Employee AS E
				WHERE
					P.BusinessEntityID = E.BusinessEntityID)