دستور :

**CASE**

In [ ]:
SELECT 
	YEAR(SOH.OrderDate)					AS SalesYear,
	DATEPART(QUARTER, OrderDate)		AS SalesQuarter,
	CASE DATEPART(QUARTER, OrderDate)
		WHEN 1 THEN 'Winter'
		WHEN 2 THEN 'Spring'
		WHEN 3 THEN 'Summer'
		WHEN 4 THEN 'Fall'
		ELSE ''
	END									AS SalesQuarterTitle,
		
	SUM(SOD.OrderQty * SOD.UnitPrice)	AS TotalSales
FROM
	Sales.SalesOrderHeader AS SOH
INNER JOIN
	Sales.SalesOrderDetail AS SOD
ON
	SOH.SalesOrderID = SOD.SalesOrderID
GROUP BY
	YEAR(SOH.OrderDate),
	DATEPART(QUARTER, OrderDate)
ORDER BY
	SalesYear,
	SalesQuarter

In [ ]:
SELECT 
	YEAR(SOH.OrderDate)					AS SalesYear,
	DATEPART(QUARTER, OrderDate)		AS SalesQuarter,
	CASE 
		WHEN DATEPART(QUARTER, OrderDate) = 1 THEN 'Winter'
		WHEN DATEPART(QUARTER, OrderDate) = 2 THEN 'Spring'
		WHEN DATEPART(QUARTER, OrderDate) = 3 THEN 'Summer'
		WHEN DATEPART(QUARTER, OrderDate) = 4 THEN 'Fall'
		ELSE ''
	END									AS SalesQuarterTitle,
		
	SUM(SOD.OrderQty * SOD.UnitPrice)	AS TotalSales
FROM
	Sales.SalesOrderHeader AS SOH
INNER JOIN
	Sales.SalesOrderDetail AS SOD
ON
	SOH.SalesOrderID = SOD.SalesOrderID
GROUP BY
	YEAR(SOH.OrderDate),
	DATEPART(QUARTER, OrderDate)
ORDER BY
	SalesYear,
	SalesQuarter

In [ ]:
SELECT 
	YEAR(SOH.OrderDate)					AS SalesYear,
	CASE
		WHEN MONTH(SOH.OrderDate) < 4 THEN 1
		WHEN MONTH(SOH.OrderDate) < 7 THEN 2
		WHEN MONTH(SOH.OrderDate) < 10 THEN 3
		ELSE 4
	END									AS SalesQuarer,
	MONTH(SOH.OrderDate)				AS SalesMonth,		
	SUM(SOD.OrderQty * SOD.UnitPrice)	AS TotalSales
FROM
	Sales.SalesOrderHeader AS SOH
INNER JOIN
	Sales.SalesOrderDetail AS SOD
ON
	SOH.SalesOrderID = SOD.SalesOrderID
GROUP BY
	YEAR(SOH.OrderDate),
	MONTH(SOH.OrderDate)
ORDER BY
	SalesYear,
	SalesMonth

مساله:

**فروش به تفکیک سال و فصل**

**به صورت ماترسی  
روش:  
CASE**

آماده سازی

In [ ]:
SELECT 
	SOD.SalesOrderDetailID,
	SOD.SalesOrderID,
	SOH.OrderDate,
	SOD.OrderQty * SOD.UnitPrice			AS Total_Sales,
	DATEPART(QUARTER, SOH.OrderDate)		AS OrderQuarter,
	CASE DATEPART(QUARTER, SOH.OrderDate)
		WHEN 1 
		THEN SOD.OrderQty * SOD.UnitPrice
	END										AS Q1_Sales,
	CASE DATEPART(QUARTER, SOH.OrderDate)
		WHEN 2 
		THEN SOD.OrderQty * SOD.UnitPrice
	END										AS Q2_Sales,
	CASE DATEPART(QUARTER, SOH.OrderDate)
		WHEN 3 
		THEN SOD.OrderQty * SOD.UnitPrice
	END										AS Q3_Sales,
	CASE DATEPART(QUARTER, SOH.OrderDate)
		WHEN 4 
		THEN SOD.OrderQty * SOD.UnitPrice
	END										AS Q4_Sales
FROM
	Sales.SalesOrderHeader AS SOH
INNER JOIN
	Sales.SalesOrderDetail AS SOD
ON
	SOH.SalesOrderID = SOD.SalesOrderID

حل مساله

In [ ]:
SELECT 
	YEAR(SOH.OrderDate)								AS SalesYear,
	SUM(CASE DATEPART(QUARTER, SOH.OrderDate)
			WHEN 1 
			THEN SOD.OrderQty * SOD.UnitPrice
		END)										AS Q1_Sales,
	SUM(CASE DATEPART(QUARTER, SOH.OrderDate)
			WHEN 2 
			THEN SOD.OrderQty * SOD.UnitPrice
		END)										AS Q2_Sales,
	SUM(CASE DATEPART(QUARTER, SOH.OrderDate)
			WHEN 3 
			THEN SOD.OrderQty * SOD.UnitPrice
		END)										AS Q3_Sales,
	SUM(CASE DATEPART(QUARTER, SOH.OrderDate)
			WHEN 4 
			THEN SOD.OrderQty * SOD.UnitPrice
		END)										AS Q4_Sales
FROM
	Sales.SalesOrderHeader AS SOH
INNER JOIN
	Sales.SalesOrderDetail AS SOD
ON
	SOH.SalesOrderID = SOD.SalesOrderID
GROUP BY
	YEAR(SOH.OrderDate)
ORDER BY
	SalesYear

مساله:

**فروش به تفکیک سال و فصل**

**به صورت ماترسی  
روش:  
**

**PIVOT**

In [ ]:
WITH CTE
AS
(
	SELECT 
		YEAR(SOH.OrderDate)						AS OrderYear,
		DATEPART(QUARTER, SOH.OrderDate)		AS OrderQuarter,
		SOD.OrderQty * SOD.UnitPrice			AS TotalSales
	FROM
		Sales.SalesOrderHeader AS SOH
	INNER JOIN
		Sales.SalesOrderDetail AS SOD
	ON
		SOH.SalesOrderID = SOD.SalesOrderID
)

SELECT 
	*
FROM
	CTE
PIVOT
	(
		SUM(TotalSales)
		FOR OrderQuarter IN ([1],[2],[3],[4])
	) AS P
ORDER BY
	OrderYear