دستور: SELECT 

انتخاب تمامی ستون های یک جدول

In [ ]:
USE AdventureWorks2017
GO

SELECT 
	*
FROM
	Person.Person

نام گذاری ستون ها: aliasing

In [ ]:
USE AdventureWorks2017
GO

SELECT 
	BusinessEntityID, 
	PersonType,
	NameStyle,
	Title,
	FirstName
	LastName,

	123 AS FixNumber1,
	456 AS FixNumber2,
	789 AS FixNumber3,

	'ali' FixString1,
	'ahmad' FixString2,

	'2020-01-01',

	CurrentTime = GETDATE(),

	33/11,
	BusinessEntityID * EmailPromotion,
	BusinessEntityID % 100,

	10 + 20,
	'a'+'b',
	FirstName + ' ' + LastName
FROM
	Person.Person

دستور: WHERE

فیلتر کردن ردیف ها پس از مرحله: FROM

In [ ]:
USE AdventureWorks2017
GO

SELECT
	*
FROM
	Person.Person
WHERE
	PersonType = 'EM'

In [ ]:
USE AdventureWorks2017
GO

SELECT
	*
FROM
	Person.Person
WHERE
	PersonType = 'EM'
	OR 
	Title = 'Mr.'

In [ ]:
USE AdventureWorks2017
GO

SELECT
	*
FROM
	Person.Person
WHERE
	PersonType = 'EM'
	AND
	Title = 'Mr.'

In [ ]:
USE AdventureWorks2017
GO

SELECT
	*
FROM
	Person.Person
WHERE
	PersonType = 'EM'
	AND
	Title <> 'Mr.'

In [ ]:
USE AdventureWorks2017
GO

SELECT
	*
FROM
	Person.Person
WHERE
	FirstName LIKE 'Ken'

In [ ]:
USE AdventureWorks2017
GO

SELECT
	*
FROM
	Person.Person
WHERE
	FirstName LIKE 'K%'

In [ ]:
USE AdventureWorks2017
GO

SELECT
	*
FROM
	Person.Person
WHERE
	FirstName LIKE 'K%n'

In [ ]:
USE AdventureWorks2017
GO

SELECT
	*
FROM
	Person.Person
WHERE
	FirstName NOT LIKE 'K%n'

In [ ]:
USE AdventureWorks2017
GO

SELECT
	*
FROM
	Person.Person
WHERE
	FirstName LIKE '_e%'

In [ ]:
USE AdventureWorks2017
GO

SELECT
	*
FROM
	Person.Person
WHERE
	FirstName LIKE '%e%'

ساخت جداول تستی

In [ ]:
USE SQLClass
GO

CREATE TABLE dbo.Employee
(
	ID			INT,
	FullName	VARCHAR(50),
	CityID		INT
)
GO

CREATE TABLE dbo.City
(
	ID INT,
	CityName VARCHAR(50)
)

وارد کردن اطلاعات

In [ ]:
USE SQLClass
GO

INSERT INTO dbo.City
(
	ID,
	CityName
)
VALUES
	(3, 'Tehran'),
	(4, 'Shiraz'),
	(5, 'Tabriz')
GO

INSERT INTO dbo.Employee
(
	ID,
	FullName,
	CityID
)
VALUES
	(1, 'Ali', 3),
	(2, 'Omid', 4),
	(3, 'Reza', 5)

دستور: CROSS JOIN

In [ ]:
USE SQLClass
GO

SELECT
	*
FROM
	dbo.Employee
CROSS JOIN
	dbo.City

In [ ]:
USE SQLClass
GO

SELECT
	*
FROM
	dbo.Employee
CROSS JOIN
	dbo.City
WHERE
	dbo.Employee.CityID = dbo.City.ID

In [ ]:
USE SQLClass
GO

SELECT
	*
FROM
	dbo.Employee AS E
CROSS JOIN
	dbo.City AS C
WHERE
	E.CityID = C.ID

In [ ]:
USE SQLClass
GO

SELECT
	*
FROM
	dbo.Employee
CROSS JOIN
	dbo.City
WHERE
	dbo.Employee.ID = 1

دستور: INNER JOIN

In [ ]:
USE SQLClass
GO

SELECT 
	*
FROM
	dbo.Employee AS E
CROSS JOIN
	dbo.City AS C
WHERE
	E.CityID = C.ID

In [ ]:
USE SQLClass
GO

SELECT 
	*
FROM
	dbo.Employee AS E
INNER JOIN
	dbo.City AS C
ON
	E.CityID = C.ID

In [ ]:
حذف رکورد

In [ ]:
USE SQLClass
GO

DELETE
FROM
	dbo.Employee
WHERE
	ID = 3
GO

DELETE 
	dbo.City
WHERE
	ID = 3

دستور: LEFT OUTER JOIN

In [ ]:
USE SQLClass
GO

SELECT 
	*
FROM
	dbo.Employee AS E
LEFT OUTER JOIN
	dbo.City AS C
ON
	E.CityID = C.ID

دستور: RIGHT OUTER JOIN

In [ ]:
USE SQLClass
GO

SELECT 
	*
FROM
	dbo.Employee AS E
RIGHT OUTER JOIN
	dbo.City AS C
ON
	E.CityID = C.ID

دستور: RIGHT FULL JOIN

In [ ]:
USE SQLClass
GO

SELECT 
	*
FROM
	dbo.Employee AS E
FULL OUTER JOIN
	dbo.City AS C
ON
	E.CityID = C.ID