 **NULL Values = Missing Values**

**مقادیر نال یا خالی یا گم شده**

برای پیدا کردن این مقادیر باید از گزاره زیر در شرط ها استفاده کرد

In [ ]:
SELECT 
    *
FROM   
    Person.Person
WHERE
	Title IS NULL

In [ ]:
SELECT 
    *
FROM   
    Person.Person
WHERE
	Title IS NOT NULL

 **JOIN**

لیست اشخاصی که کارمند هستند

In [ ]:
SELECT 
	*
FROM
	Person.Person AS P
INNER JOIN
	HumanResources.Employee AS E
ON
	P.BusinessEntityID = E.BusinessEntityID

**JOIN \* 2**

لیست اشخاصی که فروشنده هستند

In [ ]:
SELECT 
	*
FROM
	Person.Person AS P
INNER JOIN
	HumanResources.Employee AS E
ON
	P.BusinessEntityID = E.BusinessEntityID
INNER JOIN
	Sales.SalesPerson AS SP
ON
	E.BusinessEntityID = SP.BusinessEntityID

**JOIN + Missing Values**

لیست اشخاصی که کارمند نیستند

In [ ]:
SELECT 
	P.*
FROM
	Person.Person AS P
LEFT OUTER JOIN
	HumanResources.Employee AS E
ON
	P.BusinessEntityID = E.BusinessEntityID
WHERE
	E.BusinessEntityID IS NULL

**JOIN \* 4**

استفاده از چند جوبن برای کنار هم قرار دادن اطلاعات چند جدول

مشخص کردن نام خریدار و کالا به ازای هر قلم کالای فروش رفته

In [ ]:
SELECT 
	SOH.OrderDate,
	SOH.CustomerID,
	Prs.FirstName,
	Prs.LastName,
	SOD.ProductID,
	P.Name AS ProductName,
	SOD.OrderQty,
	SOD.UnitPrice,
	SOD.OrderQty * SOD.UnitPrice AS TotalPrice
FROM
	Sales.SalesOrderHeader AS SOH --31,465
INNER JOIN
	Sales.SalesOrderDetail AS SOD --121,317
ON
	SOH.SalesOrderID = SOD.SalesOrderID
INNER JOIN
	Production.Product AS P
ON
	SOD.ProductID = P.ProductID
INNER JOIN
	Sales.Customer AS C
ON
	SOH.CustomerID = C.CustomerID
INNER JOIN
	Person.Person AS Prs
ON
	C.PersonID = Prs.BusinessEntityID

**GROUP BY**

**گروه بندی**

آمار فروش به ازای هر مشتری

In [ ]:
SELECT 
	SOH.CustomerID,
	Prs.FirstName,
	Prs.LastName,
	SUM(SOD.OrderQty)					AS TotalOrderQty,
	SUM(SOD.OrderQty * SOD.UnitPrice)	AS TotalPrice
FROM
	Sales.SalesOrderHeader AS SOH --31,465
INNER JOIN
	Sales.SalesOrderDetail AS SOD --121,317
ON
	SOH.SalesOrderID = SOD.SalesOrderID
INNER JOIN
	Sales.Customer AS C
ON
	SOH.CustomerID = C.CustomerID
INNER JOIN
	Person.Person AS Prs
ON
	C.PersonID = Prs.BusinessEntityID
GROUP BY
	SOH.CustomerID,
	Prs.FirstName,
	Prs.LastName

آمار فروش به ازای هر کالا

In [ ]:
SELECT 
	SOD.ProductID,
	P.Name AS ProductName,
	SUM(SOD.OrderQty)					AS TotalOrderQty,
	SUM(SOD.OrderQty * SOD.UnitPrice)	AS TotalPrice
FROM
	Sales.SalesOrderHeader AS SOH --31,465
INNER JOIN
	Sales.SalesOrderDetail AS SOD --121,317
ON
	SOH.SalesOrderID = SOD.SalesOrderID
INNER JOIN
	Production.Product AS P
ON
	SOD.ProductID = P.ProductID
GROUP BY
	SOD.ProductID,
	P.Name

**DISTINCT**

**حذف رکورد های تکراری**

لیست بدون تکرار روزهایی که فروش انجام شده است

In [ ]:
SELECT DISTINCT
	SOH.OrderDate,
	
	YEAR(SOH.OrderDate)					AS Year,
	DATEPART(YEAR, SOH.OrderDate)		AS Year2,

	MONTH(SOH.OrderDate)				AS Month,
	DATEPART(MONTH, SOH.OrderDate)		AS Month2,
	DATENAME(MONTH, SOH.OrderDate)		AS MonthName,
	
	DAY(SOH.OrderDate)					AS Day,
	DATEPART(DAY, SOH.OrderDate)		AS Day2,
	DATENAME(weekday, SOH.OrderDate)	AS DayName,


	DATEPART(QUARTER, SOH.OrderDate)	AS Quarter,
	DATEPART(dayofyear, SOH.OrderDate)	AS DayOfYear,
	DATEPART(week, SOH.OrderDate)		AS WeekOfYear
FROM
	Sales.SalesOrderHeader AS SOH

استفاده از توابع تاریخ و زمان

فروش به تفکیک سال و ماه

In [ ]:
SELECT 
	YEAR(SOH.OrderDate)					AS OrderYear,
	MONTH(SOH.OrderDate)				AS OrderMonth,
	DATENAME(MONTH, SOH.OrderDate)		AS orderMonthName,
	SUM(SOD.OrderQty)					AS TotalOrderQty,
	SUM(SOD.OrderQty * SOD.UnitPrice)	AS TotalPrice
FROM
	Sales.SalesOrderHeader AS SOH --31,465
INNER JOIN
	Sales.SalesOrderDetail AS SOD --121,317
ON
	SOH.SalesOrderID = SOD.SalesOrderID
GROUP BY
	YEAR(SOH.OrderDate),
	MONTH(SOH.OrderDate),
	DATENAME(MONTH, SOH.OrderDate)
ORDER BY
	YEAR(SOH.OrderDate),
	MONTH(SOH.OrderDate)

**HAVING**

**فیلتر کردن گروه ها:**

فروش به تفکیک سال و فصل برای همه سال ها به غیر از 2012 به شرط آن که جمع تعداد فروش بیشتر از ده هزار باشد

In [ ]:
SELECT 
	YEAR(SOH.OrderDate)					AS OrderYear,
	DATEPART(QUARTER, SOH.OrderDate)	AS OrderQuarter,
	SUM(SOD.OrderQty)					AS TotalOrderQty,
	SUM(SOD.OrderQty * SOD.UnitPrice)	AS TotalPrice
FROM
	Sales.SalesOrderHeader AS SOH --31,465
INNER JOIN
	Sales.SalesOrderDetail AS SOD --121,317
ON
	SOH.SalesOrderID = SOD.SalesOrderID
WHERE
	YEAR(SOH.OrderDate) <> 2012
GROUP BY
	YEAR(SOH.OrderDate),
	DATEPART(QUARTER, SOH.OrderDate)
HAVING
	SUM(SOD.OrderQty) > 10000
ORDER BY
	YEAR(SOH.OrderDate),
	DATEPART(QUARTER, SOH.OrderDate)

**ORDER BY**

**مرتب سازی**

In [ ]:
SELECT 
	YEAR(SOH.OrderDate)					AS OrderYear,
	DATEPART(QUARTER, SOH.OrderDate)	AS OrderQuarter,
	MONTH(SOH.OrderDate)				AS OrderMonth,
	SUM(SOD.OrderQty)					AS TotalOrderQty,
	SUM(SOD.OrderQty * SOD.UnitPrice)	AS TotalPrice
FROM
	Sales.SalesOrderHeader AS SOH --31,465
INNER JOIN
	Sales.SalesOrderDetail AS SOD --121,317
ON
	SOH.SalesOrderID = SOD.SalesOrderID
GROUP BY
	YEAR(SOH.OrderDate),
	DATEPART(QUARTER, SOH.OrderDate),
	MONTH(SOH.OrderDate)
ORDER BY
	YEAR(SOH.OrderDate),	-- ASC,  Expression
	OrderQuarter ASC,		-- ASC,  Alias
	3 DESC				 	-- DESC, Column Position

**TOP N ROWS**

In [ ]:
SELECT TOP (100)
	*
FROM
	Person.Person
ORDER BY
	FirstName

**TOP + PERCENT**

In [ ]:
SELECT TOP 10 PERCENT
	*
FROM
	Person.Person -- 19,972
ORDER BY
	FirstName

**OFFSET FETCH**

In [ ]:
-- Skip the first 5 rows from the sorted result set and return all remaining rows.  
SELECT 
	DepartmentID, 
	Name, 
	GroupName  
FROM 
	HumanResources.Department  
ORDER BY 
	DepartmentID 
OFFSET 
	5 ROWS;

In [ ]:
-- Skip 0 rows and return only the first 10 rows from the sorted result set.  
SELECT 
	DepartmentID, 
	Name, 
	GroupName  
FROM 
	HumanResources.Department  
ORDER BY 
	DepartmentID   
OFFSET 
	0 ROWS  
FETCH 
	NEXT 10 ROWS ONLY;

In [ ]:
-- Skip 5 rows and return next 5 rows from the sorted result set. 
SELECT 
	DepartmentID, 
	Name, 
	GroupName  
FROM 
	HumanResources.Department  
ORDER BY 
	DepartmentID   
OFFSET 
	5 ROWS  
FETCH 
	NEXT 5 ROWS ONLY;